*.csproj.user
*.suo
*.tmp
_Resharper*
Debug
Release
*scc
Bin
Obj
logs/
StyleCop.Cache
*.DotSettings
*.DotSettings.user
*.StyleCop
*.svn_$folder$
*.Publish.xml
_UpgradeReport_Files
_UpgradeReport_Files/
*.user
packages
cache
.vs
.vs/
.idea
.idea/
.vscode/settings.json
